style
  include ../css/main.css

div(id='container')
  h1 ESPORTS NAME GENERATOR
  p Your ESports name is
  h2 #{name}

  //input(class='refreshButton' type='button' value='New Name' onClick='window.location.reload()')
  //br
  a(href='#' class="myButton" onClick='window.location.reload()') GET A NEW NAME
