h1{
  text-align: center;
  color: blue;
}

p{
  text-align: center;
  color: blue;
}

#container{
  text-align: center;
}

.refreshButton{
  text-align: center;
  background-color: beige;
  height: 50px;
  width: 100px;
  border-radius: 5px;
  display: inline-block;
}
